.text {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

.videoContainer {
  position: relative;
  width: 100%;
  height: auto;
}

video {
  height: auto;
  vertical-align: middle;
  width: 100%;
}

.move {
  padding-top: 180px;
}